/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-split-pane {
    --side-max-width: 250px; /* Set the desired max width */
  }
  
  ion-menu {
    width: 100% !important;
    max-width: var(--side-max-width) !important;
  }
  
  .menu-inner {
    width: 100% !important;
    max-width: var(--side-max-width) !important;
  }

  .half-height-modal {
    --height: 50%; // Set the modal height to 50% of the screen
    --border-radius: 0; // Optional: you can adjust this if you want to remove or customize rounding
    --width: 100%; // Full width
  
    // Adjusting modal position to mimic an action sheet (slide from bottom)
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }